.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .service-card {
        padding: 25px 15px;
    }
}




.service-card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    flex: 7
}

.service-card h2 {
    flex:1
}

.service-card p {
    text-align: start;
    justify-content: flex-start;
}